<%= form_for([@project, @promise]) do |form| %>
  <% if promise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promise.errors.count, "error") %> prohibited this promise from being saved:</h2>

      <ul>
      <% promise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
  </div>

  <div class="field">
    <%= form.label :merch %><br>
    <%= form.number_field :merch %><br>
  </div>

  <div class="field">
    <%= form.label :price %><br>
    <%= form.number_field :price %><br>
  </div>

  <div class="field">
    <%= form.label :is_default %>
    <%= form.check_box :is_default %><br>
  </div>

  <%= form.hidden_field :project_id, value: @project.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
