<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @promise.project_id %>
</p>

<p>
  <strong>Merch:</strong>
  <%= @promise.merch %>
</p>

<p>
  <strong>Price:</strong>
  <%= @promise.price %>
</p>

<p>
  <strong>Is default:</strong>
  <%= @promise.is_default %>
</p>

<p>
  <strong>Level:</strong>
  <%= @promise.level %>
</p>

<%= link_to 'Back', project_promises_path %>
