<p>
  <strong>Project:</strong>
  <%= @promise.project_id %>
</p>

<p>
  <strong>Merch:</strong>
  <%= @promise.merch %>
</p>

<p>
  <strong>Price:</strong>
  <%= @promise.price %>
</p>

<p>
  <strong>Is default:</strong>
  <%= @promise.is_default %>
</p>

<p>
  <strong>Level:</strong>
  <%= @promise.level %>
</p>

<%= button_to 'Fund', funders_fund_path, {params1: @promise.id, params2: current_user.id, method: :post} %>

<%= button_to 'Back', project_path(@promise.project_id), method: :get %>