<div class="jumbotron text-center">
  <h1><%= @promise.name %></h1>
</div>

<div class="container-fluid">
<p>
  <strong>Project:</strong>
  <%= Project.find(@promise.project_id).name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @promise.price %>
</p>

  <p>
  <div class="col-sm-4">
    <strong>Merch:</strong>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th {
        height: 50px;
      }
    </style>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @promise.merches.each do |merch| %>
        <tr>
          <td><%= merch.name %></td>
          <td><%= merch.description %></td>
          <td><%= link_to 'Show', merch %></td>
          <td><%= link_to 'Destroy', merch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>



    <%= form_for( :funder, url: '/projects/' +  @promise.project_id.to_s + '/promises/' + @promise.id.to_s + '/funders', method: :post) do %>
      <%= hidden_field_tag :promise_id, value: @promise.id %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= submit_tag 'Fund', name: nil %>
    <% end %>

    <br>

    <%= button_to 'Back', project_path(@promise.project_id), method: :get %>
  </div>
  </p>

</div>