<div class="container-fluid">
<p>
  <strong>Project:</strong>
  <%= Project.find(@promise.project_id).name %>
</p>

<p>
  <strong>Merch:</strong>
  <%= @promise.merch %>
</p>

<p>
  <strong>Price:</strong>
  <%= @promise.price %>
</p>

<p>
  <strong>Is default:</strong>
  <%= @promise.is_default %>
</p>

<%= form_for( :funder, url: '/projects/' +  @promise.project_id.to_s + '/promises/' + @promise.id.to_s + '/funders', method: :post) do %>
  <%= hidden_field_tag :promise_id, value: @promise.id %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= submit_tag 'Fund', name: nil %>
<% end %>

  <br>

<%= button_to 'Back', project_path(@promise.project_id), method: :get %>

</div>