<!DOCTYPE html>
<html>
  <head>
      <nav class="w3-bar w3-black" >
        <a href="/" class="btn btn-default">Home</a>
        <a href="/projects" class="btn btn-default">Browse</a>
        <a href="/projects/new" class="btn btn-default">New Project</a>
        <a href="#contact" class="btn btn-default">Contact</a>
        <a href
          <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, class: "pull-right btn btn-default", method: :delete) %>
          <% else %>
              <%= link_to('Login', new_user_session_path, class: "pull-right btn btn-default") %>
          <% end %>

      </nav>
    <title>Crowdfinder</title>
    <%= yield %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  </body>
</html>
