<!DOCTYPE html>
<html>
  <header style="background-color:powderblue;">
      <nav class="w3-bar w3-black" >
        <a href="/" title="Home"> <%= image_tag 'logo.png', :style => 'width: 50px;' %> </a>
        <a href="/projects" class="btn btn-default">Projects</a>
        <a href="#contact" class="btn btn-default">Contact</a>
        <div class="pull-right">
          <% if user_signed_in? %>
            <% if current_user.is_admin %>
              <a href="/users" class="btn btn-default">Users</a>
              <a href="/categories" class="btn btn-default">Categories</a>
            <% end %>
            <% unless current_user.is_admin %>
              <%= link_to('' , '/users/' + current_user.id.to_s, class: "glyphicon glyphicon-user", title: "Profile") %>
              <%= current_user.username %>
            <% end %>
            <%= link_to('Logout', destroy_user_session_path, class: "btn btn-default", method: :delete) %>
          <% else %>
            <%= link_to('Login', new_user_session_path, class: "btn btn-default") %>
          <% end %>
        </div>

      </nav>
    <title>Crowdfinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </header>

  <body>
  <div>
    <%= yield %>
  </div>
  </body>

  <footer style="background-color:powderblue;">
    <div>
      <p>Crowd</p>
    </div>
  </footer>
</html>