<!DOCTYPE html>
<html>
  <header style="background-color:powderblue;">
      <nav class="w3-bar w3-black" >
        <a href="/" title="Home"> <%= image_tag 'logo.png', :style => 'width: 50px;' %> </a>
        <a href="/projects" class="btn btn-default">Projects</a>
        <a href="#contact" class="btn btn-default">Contact</a>
        <div class="pull-right">
          <% if user_signed_in? %>
            <%= link_to('' , '/users/' + current_user.id.to_s, class: "glyphicon glyphicon-user", title: "Profile") %>
            <%= current_user.username %>
            <% if current_user.is_admin %>
              <a href="/users" class="btn btn-default">Users</a>
              <a href="/categories" class="btn btn-default">Categories</a>
            <% end %>
            <%= link_to('Logout', destroy_user_session_path, class: "btn btn-default", method: :delete) %>
          <% else %>
            <%= link_to('Login', class: "btn btn-default", data_toggle: "modal", data_target: "#exampleModal") %>
          <% end %>
        </div>

      </nav>
    <title>Crowdfinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </header>

  <body>
  <div>
    <%= yield %>
  </div>
  </body>

  <footer style="background-color:powderblue;">
    <div class="row" style="margin-left: 10px">
      <p id="notice"><%= notice %></p>
    </div>
  </footer>
</html>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>