<!DOCTYPE html>
<html>
  <header>
    <nav class="navbar navbar-default" >
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/" title="Home"> <%= image_tag 'logo.png', :style => 'width: 30px;' %> </a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to(current_user.username, '/users/' + current_user.id.to_s) %></li>
            <% if current_user.is_admin %>
              <li><a href="/users">Users</a></li>
              <li><a href="/categories">Categories</a></li>
            <% end %>
            <li><a <%= link_to('Logout', destroy_user_session_path, method: :delete) %></a></li>
          <% else %>
            <li><%= link_to('Login', new_user_session_path) %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </header>

  <body>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
    <%= yield %>
  </body>

  <footer style="background-color: #EEEEEE;">
    <div class="row" style="margin-left: 10px">
      <p id="notice"><%= notice %></p>
    </div>
  </footer>
</html>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '2082616332027226',
            cookie     : true,
            xfbml      : true,
            version    : '0.3'
        });

        FB.AppEvents.logPageView();

    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
