<!DOCTYPE html>
<html>
  <header style="background-color:powderblue;">
    <nav class="navbar navbar-default" >
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/" title="Home"> <%= image_tag 'logo.png', :style => 'width: 30px;' %> </a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to(current_user.username, '/users/' + current_user.id.to_s) %></li>
            <% if current_user.is_admin %>
              <li><a href="/users">Users</a></li>
              <li><a href="/categories">Categories</a></li>
            <% end %>
            <li><a <%= link_to('Logout', destroy_user_session_path, method: :delete) %></a></li>
          <% else %>
            <li><%= link_to('Login', data_toggle: "modal", data_target: "#exampleModal") %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <title>Crowdfinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </header>

  <body>
  <div>
    <%= yield %>
  </div>
  </body>

  <footer style="background-color:powderblue;">
    <div class="row" style="margin-left: 10px">
      <p id="notice"><%= notice %></p>
    </div>
  </footer>
</html>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>