<%= form_with(model: project, local: true, html: { multipart: true }) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br/>
    <%= form.text_field :name %>
  </div>

  <% if current_user.is_admin %>
    <div class="field">
      <%= form.label :creator %><br/>
      <%= form.collection_select :creator,  User.order('username ASC'), :id, :username, include_blank: false %>
    </div>
  <% else %>
    <%= form.hidden_field :creator, value: current_user.id %>
  <% end %>

  <div class="field">
    <%= form.label :category_id %><br/>
    <%= form.collection_select :category_id, Category.order(:name), :id, :name, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :description %><br/>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :finale_date %><br/>
    <%= form.datetime_select :finale_date %>
  </div>

  <div class="field">
    <%= form.label :goal %><br/>
    <%= form.number_field :goal %>
  </div>

  <div class="field">
    <%= form.label :photo %><br/>
    <%= form.file_field :photo %>
  </div>

  <div class="actions"><br/>
    <%= form.submit %>
  </div>
<% end %>
