
<div class="jumbotron text-center">
  <h1>Browse Projects</h1>
</div>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="container-fluid">
    <%= form_tag("/projects", method: :get, class: 'form_search') do %>
      <%= collection_select :category_id, :id, Category.order(:name), :id, :name, include_blank: true %>
      <%= text_field_tag :name, params[:name] %>
      <%= submit_tag 'Search', name: nil %>
    <% end %>
    <br/>
    <a href="/projects/new" class="btn btn-default">New Project</a>
  </div>

  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th {
      height: 50px;
    }
  </style>
  <table class="table">
    <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Creator</th>
      <th>Category</th>
      <th colspan="300"></th>
    </tr>
    </thead>

    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= image_tag project.photo.url(:thumb) %></td>
        <td><%= link_to project.name, project %></td>
        <td><%= link_to("@" + User.find(project.creator).username, User.find(project.creator)) %></td>
        <td><%= Category.find(project.category_id).name %></td>
        <% if current_user.is_admin %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
