<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<%= image_tag @project.photo.url %>

<p>
  <strong>Creator:</strong>
  <%= @project.creator %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Finale date:</strong>
  <%= @project.finale_date %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @project.rating %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
