<div class="jumbotron text-center">
<h1><%= @project.name %></h1>
</div>

<div class="container">
  <div class="col-sm-6">
    <%= image_tag @project.photo.url %>
  </div>
  <div class="col-sm-3">
    <strong>Creator:</strong>
    <%= @project.creator %>
    <br>
    <strong>Category:</strong>
    <%= @project.category_id %>
    <br>
    <strong>Description:</strong>
    <br>
    <%= @project.description %>
    <br>
  </div>
  <div class="col-sm-3">
    <strong>Goal:</strong>
    <%= @project.goal %>
    <br>
    <strong>Rating:</strong>
    <%= @project.rating %>
    <br>
    <strong>Finale date:</strong>
    <%= @project.finale_date %>
  </div>
  <% if current_user.is_admin %>
    <%= link_to 'Edit', edit_project_path(@project),class: "btn btn-default" %>
  <% end %>
</div>
