<div class="jumbotron text-center">
  <h1>Users</h1>
  <h2>List of creators and crowds.</h2>
</div>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="input-group">
        <div class="input-group-btn search-panel">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span id="search_concept">Filter by</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#boardgames">Board Games</a></li>
            <li><a href="#roleplaying">Roleplaying</a></li>
            <li><a href="#greather_than">Books</a></li>
            <li><a href="#entertainment">Entertainment</a></li>
            <li class="divider"></li>
            <li><a href="#all">Anything</a></li>
          </ul>
        </div>
        <input type="hidden" name="search_param" value="all" id="search_param">
        <input type="text" class="form-control" name="x" placeholder="Search term...">
        <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                      </span>
      </div>
    </div>

    <a href="/users/new" class="btn btn-default">New User</a>
  </div>

  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th {
      height: 50px;
    }
  </style>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="300"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user, class: "btn btn-default"%></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
