<div class="jumbotron text-center">
  <h1><%= @user.username %></h1>
</div>

<div class="container-fluid">
<p>
  <strong>Name:</strong>
  <%= @user.first_name + " " + @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    height: 50px;
  }
</style>
<div class="col-sm-6">

  <h2>Promises Funded:</h2>

  <table class="table">
    <thead>
    <tr>
      <th>Promise</th>
      <th>Merch</th>
      <th>Price</th>
      <th colspan="300"></th>
    </tr>
    </thead>

    <tbody>
    <% @funders.each do |funder| %>
      <tr>
        <td><%= Promise.find(funder.promise_id).name %></td>
        <td><%= Promise.find(funder.promise_id).merch %></td>
        <td><%= Promise.find(funder.promise_id).price %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>
<%= link_to 'Edit', '/users/edit/'%> |
<%= link_to 'Back', users_path %>
</div>