<%= form_for([@wish, @project]) do |form| %>
  <% if wish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wish.errors.count, "error") %> prohibited this wish from being saved:</h2>

      <ul>
      <% wish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.hidden_field :user_id, current_user.id %>

  <%= form.hidden_field :project_id, @project.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
